<ul>
  <% @posts.each do |post| %>

  <div id="postsContainer">
    <div id="post">
      <%= link_to post.title, post_path(post) %>
    </div>
  </div>
  <% end %>
</ul>

<!-- <%= link_to 'download 1', home_download_rb_url %>
<%= link_to 'download 2', home_download_js_url %>
<%= link_to 'download 3', home_download_json_url %> -->

<%= link_to 'download 1', rb_path %>
<%= link_to 'download 2', js_path %>
<%= link_to 'download 3', json_path %>
