<!DOCTYPE html>
<html>
  <head>
    <title>DailyCode</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://dailycode.herokuapp.com/">
            <img alt="Brand" src="...">
          </a>
        </div>
      </div>
        <div id="logInLogOut">
          <% if current_user %>
            Hello, <%= current_user.name %> <%= link_to 'Log Out', logout_path, method: :delete %>
            <%= link_to "create new post", new_post_path %>
          <% else %>
            <%= link_to 'Log In', login_path %>
            <%= link_to 'Sign Up', new_user_path %>
          <% end %>
      </div>

    </nav>

    <%= yield %>
  </body>
</html>
